@import './animated.css';

/* GLOBAL ===> */

:root {
  --blue-background: #001c4c;
  --blue: #2253d4;
  --light-blue: #afc0f6;
  --white: #ffffff;
  --white-border: #f1efef;
  --grey-background: #e0e4ea;
  --grey-ligth-ligth: #f7f7fa;
  --grey-background-opacity: rgba(255, 255, 255, 0.88);
  --grey-background-opacity2: rgba(62, 62, 86, 0.41);
  --dark-grey-background: rgba(62, 62, 86);
  --red: #ff0000;
  --green: #18c139;
  --purple-text: #7272a3;
  --grey-text: #868691;
  --black: #000;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  /* background-color: var(--blue-background); */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chat-messages:-webkit-scrollbar {
  display: none;
}

section {
  padding: 5% 10%;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:active {
  scale: 0.98;
}

h1 {
  font-size: 36px;
  color: var(--white);
  font-weight: 400;
}

h5 {
  color: var(--white);
}

button {
  border: none;
  color: var(--white);
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  box-shadow: #49bc6f;
  scale: 0.98;
}

textarea {
  resize: none;
  overflow: hidden;
}

.width75persent {
  width: 75%;
}

.width40persent {
  width: 40%;
}

.nunito {
  font-family: 'Nunito';
}

.attention-container {
  width: 100%;
  box-shadow: 0px 0px 4px #a6a6b7;
  background: var(--black);
  color: var(--white);
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
}

.attention-container > h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.attention-container > p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 21px;
}

.form {
  padding: 21px;
  border-radius: 10px;
}

.form > h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.white-line {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  margin-bottom: 20px;
  margin-top: 32px;
  z-index: 10;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.mobile-burger-menu {
  height: 40px;
  width: 40px;
  margin-right: 0;
  margin-left: auto;
}

.burger-icon {
  width: 100%;
  height: 100%;
}

header {
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 10%;
  padding-right: 10%;

  transition: heigth 1s;
}

header div {
  flex: 1;
}

header nav {
  flex: 1;
  /* width: 600px; */
  /* min-width: 600px; */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 7%;
  margin-left: 7%;
}

header nav a {
  display: block;
  margin: auto;
  color: var(--blue);
  font-size: 20px;
  /* margin: 0; */
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-button-wrapper {
  justify-content: flex-end;
}

.nav-btn {
  background-color: white;
}

.mobile-menu {
  background-clip: content-box;
}

/* FOOTER */

footer {
  background-color: var(--white);
  height: 100px;
  padding: 2% 10%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div {
  padding-left: 5px;
  padding-right: 5pxx;
}

.footer-info-text {
  max-width: 330px;
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.5px;
  margin-top: 15px;
}

.footer-link {
  color: var(--purple-text);
  font-size: 20px;
  font-weight: 500;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  color: var(--black);
  margin-top: 10px;
}

.footer-logo img {
  width: 43px;
  height: 38px;
}

.footer-logo-title {
  font-size: 24px;
  font-weight: 700;
}

.footer-logo-title span {
  color: var(--blue);
}

.footer-logo-desc {
  font-size: 10px;
  font-weight: 300;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-left20 {
  margin-left: 20px;
}

.font-weigth500 {
  font-weight: 500;
}

/* ============== */

.background-dark-grey {
  background-color: var(--dark-grey-background);
}

.background-white {
  background-color: var(--white);
}

.background-red {
  background-color: var(--red);
}

.background-green {
  background-color: var(--green);
}

.background-blue {
  background-color: var(--blue);
}

.red {
  color: var(--red);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.grey {
  color: var(--grey-text);
}

.green {
  color: var(--green);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-background);
  background-image: url(../img/mainBackground.png);
  background-repeat: round;
  height: fit-content;
  min-height: 80vh;

  margin: auto;
}

/* GLOBAL <=== */

.mobile-element {
  display: none;
}

/* WELCOME SECTION */

.welcome-top-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome-section-title {
  flex: 1;
  height: fit-content;
}

.welcome-section-title h1 {
  color: var(--white);
  font-size: 42px;
  line-height: 50px;
}

.welcome-section-title h2 {
  color: var(--purple-text);
  font-size: 20px;
}

.welcome-section-exchange {
  flex: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-background-opacity);
  margin-left: 7%;
  padding: 30px;
  border-radius: 4px;
}

.welcome-section-exchange-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.welcome-section-exchange-title {
  /* display: flex; */
  /* flex: 1;  */
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 500;
}

.welcome-section-exchange-items {
  position: relative;
}

.welcome-section-exchange-items-expanded {
  height: 500px;
}

.card-width {
  width: 260px;
}

.welcome-section-exchange-input {
  position: relative;
  /* flex: 1; */
  min-height: 48px;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  color: var(--white);
  margin-top: 7px;
  background-color: var(--dark-grey-background);
}

.currency-card-exchange {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 48px;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  border: 1px solid var(--white); /* TODO */
  max-width: 330px;
  border-radius: 4px;

  box-sizing: border-box;
}

.open-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0;
  padding: 0;
  max-height: 500px;
  background-color: var(--grey-text);

  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.open-select::-webkit-scrollbar {
  display: none;
}

.currency-card-exchange p {
  margin-left: 5px;
}

.welcome-section-exchange-input-after {
  margin-top: 1px;
  /* height: 24px; */
  border-radius: 3px;
  vertical-align: middle;
}

.welcome-section-exchange-input-after p {
  line-height: 22px;
  padding-left: 5px;
  margin: 0;
  font-size: 14px;
}

.welcome-section-exchange-input-after p:last-child {
  margin-top: 10px;
}

.welcome-section-exchange-input-after p:first-child {
  margin-top: 0;
  background-color: var(--grey-background-opacity2);
}

.exchange-btn {
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 4px;
}

.welcome-section-exchange-arrows {
  margin: 7px 1%;
  display: block;
  width: 22px;
  min-width: 22px;
}

/* welcome bottom block */
.welcome-bottom-block {
  margin-top: 60px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.welcome-bottom-block-item {
  flex: 1;
  align-items: flex-start;
  min-width: 330px;
  height: 200px;
}

.welcome-bottom-block-arrow {
  margin: 0 10px;
  margin-top: 100px;
}

.welcome-bottom-block-item * {
  text-align: center;
}

.welcome-bottom-block-item h2 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

.welcome-bottom-block-item img {
  display: block;
  margin: auto;
}

.welcome-bottom-block-item p:first-of-type {
  color: var(--white);
  font-size: 20px;
}

.welcome-bottom-block-item p:last-of-type {
  color: var(--grey-text);
  font-size: 14px;
}

/* /WELCOME SECTION */

/* INFO SECTION */
.info-section {
  background-color: var(--grey-background);
  padding-bottom: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section .info-block {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.info-block img {
  flex: 1;
  scale: 0.7;
  display: block;
  max-width: 450px;
  margin-bottom: -15px;
}

.info-section > img {
  flex: 1;
}

.chat-form {
  position: sticky;
  top: 150px;
  /* right: 50px; */
  margin: auto;
  margin-right: -50px;
  width: 300px;
  z-index: 5;
  box-shadow: 0px 12px 14px 8px rgba(0, 0, 0, 0.17);
  border-radius: 8px 34px 0px 0px;
  background-color: var(--white);

  height: 40px;
}

.chat {
  width: 100%;
  border: 1px solid var(--grey-background);
  /* position:absolute; */
  top: 40px;
  height: auto;

  /* background-color: #7272A3; */
  box-shadow: 0px 12px 14px 8px rgba(0, 0, 0, 0.17);
}

.chat-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background: linear-gradient(95deg, #001c4c 20%, #95aaeb 80%);
  border-radius: 8px 34px 0px 0px;
  width: 300px;
  height: 40px;
}

.chat-link:active {
  scale: 1;
  background-color: var(--blue);
}

.chat-link-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 40px;
  font-size: 15px;
  margin-left: 10px;
}

.chat-link-img {
  display: block;
  height: 33px;
  width: 33px;
  z-index: 4;
}

.chat-messages {
  height: 300px;
  background-color: var(--white);
  overflow-y: scroll;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-textarea-wrapper {
  background-color: var(--white);
}

.chat textarea {
  height: 72px;
  /* width: 300px; */
  border: none;
  border-top: 1px solid var(--grey-background);
  outline: none;
  padding: 15px;
  width: 100%;
}

.hidden {
  display: none;
}

.chat-link:hover {
  /* box-shadow: 1px -1px 5px 1px var(--blue); */
}

.info-text-block {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 300px;
}

.info-text-block p {
  text-align: justify;
}

.info-section-bottom-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  text-align: justify;
}

.currency-cards-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 53px;
}

.currency-card {
  border-radius: 4px;
  background-color: var(--blue-background);
  width: 277px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12px;
  color: var(--white);
  margin: 5px 5px;
}

.currency-card-title {
  vertical-align: middle;
  align-items: center;
  display: flex;
}

/* .currency-card:not(:last-child) {
 margin-right: 25px;
} */

.currency-card-title img {
  margin-right: 10px;
}

/* CONTACTS ===> */
.contacts-container .contact-btn {
  font-size: 20px;
  line-height: 40px;
  color: var(--white);

  border-width: 5px;
  border-style: solid;
  border-color: var(--white-border);
  background-color: var(--blue-background);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
}

.contacts-container .contact-btn:not(:last-child) {
  margin-right: 28px;
}

.contacts-container-text {
  margin-top: 30px;
}

/* CONTACTS <=== */

/* REVIEWS ===> */

.reviev-item {
  border-radius: 19px;
  border-width: 1px;
  border-color: var(--blue);
  background-color: var(--white-border);

  padding: 21px;
  margin-top: 20px;
}

.reviev-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviev-item-author {
  font-weight: 600;
}

.reviev-item-time {
  font-weight: 400;
}

.reviev-item-content {
  margin-top: 10px;
  font-weight: 400;
}

.review-pagination {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}

.review-pagination-item {
  padding: 9px 14px;
  background-color: var(--white);
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  color: var(--black);
}

.review-pagination-item:not(:last-child) {
  margin-right: 10px;
}

.active-btn {
  background-color: var(--blue);
  color: var(--white);
}

.review-form {
  margin-top: 64px;
  border: 1px solid var(--grey-background);
  background-color: var(--light-blue);
  box-shadow: 0px 0px 4px #dadae8;
}

.review-form label {
  display: block;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400px;
  line-height: 18px;
}

.review-form input {
  margin-top: 3px;
  display: block;
  width: 40%;
  min-width: 200px;
  height: 40px;
  border-radius: 8px;
  border-width: 0;
  padding-left: 10px;
}

.review-form textarea {
  margin-top: 3px;
  display: block;
  width: 100%;
  min-height: 105px;
  border-radius: 8px;
  border-width: 0;
  padding-left: 10px;
}

.review-form p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 20px;
}

.review-btn {
  border-radius: 50px;
  padding: 0;
  margin-top: 20px;
  height: 40px;
  width: 160px;
  font-weight: 400;
  font-size: 16px;
}

/* REVIEWS <=== */

/* EXCHANGE_FORM ===> */

.exchange-container {
  width: 75%;
}

.exchange-container > h1 {
  font-size: 13px;
  font-family: 400;
}

.exchange-container > p {
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
}

.exchange-form {
  margin-top: 20px;
  border: 1px solid var(--grey-background);
  background-color: var(--grey-background);
  box-shadow: 0px 0px 4px #dadae8;
}

.exchange-form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.exchange-rate-text {
  height: 40px;
  margin-top: 15px;
  color: var(--grey-text);
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.exchange-min-max-text {
  max-width: 210px;
  height: 40px;
  margin-top: 15px;
  text-align: right;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.exchange-currency-container {
  width: 340px;
}

.exchange-amount {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.exchange-amount > span {
  color: var(--grey-text);
  font-size: 12px;
  font-weight: 400;
}

.exchange-amount input {
  height: 50px;
  background-color: var(--white);
  border: 1px solid #f7cfcf;
  border-radius: 4px;
  width: 120px;
}

.exchange-amount-input-container {
  display: inline-block;
  position: relative;
}

.exchange-amount-input-container-after {
  background-color: var(--grey-text);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 2px;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.exchange-form > label {
  display: block;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.exchange-form > label input {
  margin-top: 3px;
  display: block;
  width: 100%;
  max-width: 340px;
  min-width: 200px;
  height: 40px;
  border-radius: 4px;
  border-width: 0;
  padding-left: 10px;
}

.exchange-form > button {
  margin-top: 50px;
  border: 1px solid #49bc6f;
  padding-left: 60px;
  padding-right: 60px;
}

.exchange-form-final-text {
  margin-top: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.exchange-info-text {
  margin-top: 20px;
  padding: 5px;
  color: var(--white);
}

.exchange-info-text p,
li {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.exchange-info-text ul {
  list-style-type: none;
}

/* .exchange-min-max-text{
 
} */

/* EXCHANGE_FORM <=== */

/* EXCHANGE_CONFIRMATION  ===> */

.confirmation h2:not(:first-child) {
  margin-top: 50px;
}

.confirmation-amount {
  color: var(--grey-text);
  width: 40%;
}

.confirmation-amount p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  margin-top: 5px;
}

.confirmation-amount span {
  font-weight: 400;
}

.currency-title-and-logo {
  display: flex;
  align-items: center;
}

.currency-title-and-logo span {
  margin-left: 10px;
}

.currency-title-and-logo img {
  scale: 0.6;
}

/* EXCHANGE_CONFIRMATION  <=== */

/* EXCHANGE_PAYMENT ===> */

.payment {
  padding: 0;
  background-color: var(--white);
  overflow: hidden;
}

.make-payment-guide {
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  word-break: break-word;
}

.payment-amount {
  color: var(--grey-text);
}

.payment-amount p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  margin-top: 5px;
  text-align: left;
}

.payment-amount span {
  font-weight: 400;
}

.payment-warning {
  font-size: 14px;
  font-weight: 400;
}

.payment-status-container {
  background-color: var(--grey-ligth-ligth);
  padding: 20px;
}

.payment-btn-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.payment-btn-container button {
  width: 220px;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
}

.payment-bottom-box {
  height: 60px;
  background-color: var(--grey-ligth-ligth);
}

/* EXCHANGE_PAYMENT <=== */

/* EXCHANGE_CANCELING ===> */

.payment-btn-container-center {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* EXCHANGE_CANCELING <=== */

/* MODALS ===> */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  z-index: 3;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-mobile-menu {
  background-color: var(--grey-background);
}

.modal-mobile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.mobile-menu-container {
  height: 70%;
  justify-content: space-between;
  margin: 0;
}

.modal-close-btn {
  font-size: 18px;
  width: 35px;
  height: 35px;
  padding: 0;
  position: absolute;
  top: 37px;
  right: 10%;
  cursor: pointer;
  z-index: 4;
}

.modal-close-btn img {
  height: 100%;
  width: 100%;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.mobile-menu-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  text-decoration: none;
  text-align: center;
  margin: 10px 2px;
  transition: var(--animation-transition);
}

.mobile-menu-item:hover {
  color: var(--txt-c-accent);
  font-size: 17px;
}

.body-scroll-disable {
  overflow: hidden;
  /* height: 100vh; */
  margin: 0;
}
/* MODALS <=== */

/* MEDIA */

@media only screen and (max-width: 1360px) {
  .wide-descpot-element {
    display: none;
  }
}

@media only screen and (max-width: 1180px) {
  @media only screen and (max-width: 1000px) {
    .exchange-amount {
      align-items: center;
    }

    .info-block {
      flex-wrap: wrap;
      align-items: center;
    }

    .info-block * {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .info-block img {
      order: 1;
    }
  }

  .tablet-element {
    display: flex;
  }

  header a {
    display: block;
  }

  header img {
    transform: scale(0.8);
    overflow: auto;
  }

  .welcome-section-title {
    text-align: center;
  }

  .welcome-section-title h1 {
    margin-top: 0;
    padding-left: 10px;
    display: block;
  }

  .welcome-section-title h2 {
    padding-left: 10px;
    display: block;
  }

  .welcome-section-exchange {
    margin-left: 0;
  }

  .exchange-amount {
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .exchange-min-max-text {
    max-width: 100%;
    height: auto;
  }

  .exchange-form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-section-bottom-text {
    margin-top: 15px;
  }

  .info-section-bottom-text p {
    text-align: justify;
    text-indent: 0.5cm;
    margin-top: 3px;
  }

  /* .info-block img{
    max-width: 70%;
    max-height: 70%;
  } */

  .info-section {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .desctop-element {
    display: none;
  }

  .tablet-element {
    display: none;
  }

  .mobile-element {
    display: flex;
  }

  header {
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  header img {
    transform: scale(0.7);
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  footer > div {
    margin-top: 10px;
    text-align: center;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  section {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  section h1 {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  section h2 {
    padding: 0 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .welcome-section-title h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .welcome-top-block {
    align-items: center;
    justify-content: center;
  }

  .welcome-section-exchange {
    margin-left: 0;
    max-width: 330px;
    padding: 15px;
  }

  .welcome-section-exchange-row {
    flex-direction: column;
    align-items: center;
  }

  .welcome-bottom-block-arrow {
    margin: 15px;
  }

  .welcome-section-exchange-arrows {
    transform: rotate(90deg);
  }

  .welcome-bottom-block-item {
    min-width: 300px;
  }

  .welcome-bottom-block-item img {
    max-width: 100%;
  }

  .info-block img {
    max-width: 70%;
    max-height: 70%;
    order: 1;
  }

  .info-section {
    padding-bottom: 30px;
  }

  .info-section-bottom-text {
    text-align: justify;
  }

  /* CONTANCTS ===> */

  .contacts-container {
    text-align: center;
  }

  .contacts-container .contact-btn:not(:last-child) {
    margin-right: 5px;
  }

  .contacts-container .contact-btn {
    margin: auto 5px;

    font-size: 15px;
    line-height: 30px;
    color: var(--white);

    border-width: 3px;
    border-style: solid;
    border-color: var(--white-border);
    background-color: var(--blue-background);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
  }
  /* CONTANCTS <=== */

  /* EXCHANGE_FORM ===> */

  .exchange-container {
    width: 100%;
  }

  .exchange-container > h1 {
    text-align: center;
  }

  .attention-container {
    text-align: center;
  }

  .exchange-currency-container {
    width: 100%;
  }

  .exchange-form h1,
  h2 {
    text-align: left;
  }

  .exchange-form-h1 {
    text-align: left;
  }

  .exchange-info-text h2,
  p {
    text-align: center;
  }

  .exchange-info-text ul {
    padding: 0;
  }

  .exchange-info-text li {
    margin-top: 7px;
    text-align: center;
  }

  /* EXCHANGE_FORM <=== */

  /* EXCHANGE_PAYMEBT ===> */

  .payment-btn-container button {
    width: 40%;
    min-width: 120px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  /* EXCHANGE_PAYMEBT <=== */

  .confirmation-amount p {
    text-align: left;
  }

  .make-payment-guide {
    margin-left: 0;
  }

  .payment-btn-container-center {
    padding: 30px;
  }
}

/* ahfkhsdkjsd */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 0px;
  padding-top: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  transition: all linear 1s;
  padding: 18px 0px;
  display: none;
  overflow: hidden;
  /* background-color: #f1f1f1; */
  transition: height 200ms;
}
